@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%;
}

body {
  background: rgb(243, 242, 240) url('./assets/biblio.jpeg') no-repeat;
  background-size: cover;
  align-self: center;
}

body, input, button {
  font-family: 'Patua', Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
}

.contenedor {
  margin: 80px auto 0;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  width: 87%;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 5px;
  padding: 30px;
}

.conteudo > p.big {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.conteudo > p.little {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
}

.conteudo form {
  display: flex;
  flex-direction: column;
}

.conteudo label {
  font-size: 14px;
  font-weight: bold;
  color: #5e5d5d;
  margin-bottom: 8px;
}

.conteudo form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;

}

.conteudo button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #003cff;
  color: #fff;
  cursor: pointer;
}

.conteudo button.btn:hover {
  background: #4608d6;
}